<div fxLayout="row">
  <form #f="ngForm" style="margin-left: 20px">
    <mat-form-field>
      <mat-label>Search User</mat-label>
      <input matInput type="text" placeholder="Search" name="searchTerm" (keyup)="searchUser()" [(ngModel)]="searchTerm"/>
    </mat-form-field>
  </form>

  <button mat-raised-button type="button" color="primary" style="margin-left: auto" fxFlexAlign="center" (click)="addNewUser()">Add</button>
</div>

<div><app-user [user]="user" *ngFor="let user of users"></app-user></div>
